{% extends "base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">密码重置</li>
</ol>

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
{% endif %}
{% if form.new_password1.errors %}
  {% for error in form.new_password1.errors %}
<div class="alert alert-danger" role="alert">新密码:{{ error }}</div>
  {% endfor %}
{% endif %}
{% if form.new_password2.errors %}
  {% for error in form.new_password2.errors %}
<div class="alert alert-danger" role="alert">确认新密码:{{ error }}</div>
  {% endfor %}
{% endif %}

{% if validlink %}
<form class="form-horizontal" action="" method="POST">{% csrf_token %}
  <div class="form-group">
    <label class="col-sm-3 control-label">新密码</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" name="new_password1">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">确认新密码</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" name="new_password2">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-3">
      <button type="submit" class="btn btn-default">重置密码</button>
    </div>
  </div>
</form>
{% else %}
链接已失效
{% endif %}
{% endblock %}
